%flex {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.image-border-all {
    margin-left  : auto;
    margin-right : auto;
    border-radius: 0px 0px 20px 20px !important;

    &:after {
        content         : '';
        position        : absolute;
        width           : 250px;
        left            : 5px;
        top             : 5px;
        border-radius   : 20px !important;
        background-color: #fff;
    }

    .main-imagea {
        position       : absolute;
        background-size: 300px 300px;
        z-index        : 2;
        border         : #2c3e50;
        transition     : .5s cubic-bezier(.5, .03, .41, 1);
    }

    &:hover>.main-image {
        transform    : translate(-15px, -15px);
        border-radius: 1000px !important;
        transition   : .5s cubic-bezier(.5, .03, .41, 1);
    }

    &:hover>p.title:after {
        transform : scale3d(1, 1, 1);
        transition: .5s cubic-bezier(.5, .03, .41, 1);
    }

    &:hover>.content-titkl {
        transform : scale3d(1, 1, 1);
        transition: .5s cubic-bezier(.5, .03, .41, 1);
    }

    p.title {
        font-weight: 400;
        line-height: 60px;
        color      : #2c3e50;
        text-align : center;
        left       : 0;
        font-size  : 1em;
        transform  : translateX(-50%);

        &:after {
            content         : '';
            position        : absolute;
            width           : 50%;
            height          : 1px;
            background-color: #e74c3c;
            bottom          : 10px;
            right           : 100;
            transform       : scale3d(0, 1, 1);
            transition      : .5s cubic-bezier(.5, .03, .41, 1);
        }

    }

    .content-titkl {
        font-weight: 400;
        line-height: 60px;
        color      : #2c3e50;
        text-align : center;
        left       : 0;
        font-size  : 1em;
        transform  : translateX(-50%);

        &:after {
            content         : '';
            position        : absolute;
            width           : 50%;
            height          : 1px;
            background-color: #e74c3c;
            bottom          : 10px;
            right           : 100;
            transform       : scale3d(0, 1, 1);
            transition      : .5s cubic-bezier(.5, .03, .41, 1);
        }

    }
}