.block {
    display       : flex;
    flex-direction: row;
}

.sideblock {
    justify-content: center;
    align-items    : center;
    display        : block;
}

.body-dess {
    margin-top: 86px;
}

.home-co {
    margin-top    : 8vh;
    padding-bottom: 10vh;
    min-height    : 80vh;
}