.loader-h {
    height    : 50vh;
    height    : 100px;
    margin-top: 6.9vh;
}



.input-style {
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    border-radius        : 20px;
    border               : 1px solid #6e6e6e;
    color                : #686868;
    text-align           : center;
    width                : 100%;
    height               : 70%;
}

.input-style-cart {
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    border-radius        : 20px;
    border               : 1px solid #6e6e6e;
    color                : #686868;
    text-align           : center;
    width                : 40%;
    height               : 33px;
}

.input-style-cart:focus {
    outline: none;
    border : 1px solid #000000;
    color  : #131313;
}

.input-style:focus {
    outline: none;
    border : 1px solid #000000;
    color  : #131313;
}

.cart-body {
    min-height    : 100vh;
    padding-bottom: 5vh;
}





.invoice-box {
    margin-top   : 3vh;
    border       : 1px solid #9e9e9e;
    border-radius: 20px;
    padding      : 10px;
    box-shadow   : 0px 5px 5px #d1d1d1;
}

.invoice-box-content {
    height: 18vh;
}

.detail-p {
    height: 55vh;

}

.zoom {
    width     : 100%;
    transition: 0.3s;
    cursor    : pointer;
    /* Animation */
    width     : 100%;
    height    : 100%;
    margin    : 0 auto;

}

.zoom:hover {
    transform           : scale(1.09);
    cursor              : pointer;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img-pro {
    cursor    : pointer;
    transition: transform 0.4s;
}

.img-pro:hover {
    transform : scale(1.05);
    box-shadow: 1px 1px 20px rgb(202, 202, 202);
}

.Footer {
    position: relative;
    bottom  : 0;
    width   : 100%;
    height  : 35px;
}

.page-center {
    justify-self: center;
    text-align  : center;
}


.fieldset-img {
    border-radius: 20px;
}

.legendhaed {
    background-color: #202020;
    color           : white;
    border-radius   : 50px;
    font-size       : 20px;
    padding-left    : 12px;
    padding-right   : 12px;
    padding-top     : 5px;
    height          : 30px;
    align-items     : center;
}

.fieldset-main {
    border-radius   : 20px;
    width           : 100%;
    align-content   : center;
    background-color: rgb(255, 255, 255);
    padding         : 20px;
    box-shadow      : 5px 5px 18px #dfdfdf;
    height          : 450px;
    font-size       : 18px;
    margin-top      : 10vh;
}

.body-h {
    margin-top: 6px;
}

.body-des {
    margin-top    : 86px;
    height        : auto;
    min-height    : 50vh;
    padding-bottom: 10vh;
}

.body-des2 {
    margin-top: 6px;
}

.body-des3 {
    margin-top: 15px;
}

.head-Content {
    height: 6vh;
}

.date {
    text-align: right;
}

.body-des2 {
    margin-top: 9vh;
    min-height: 90vh;
}

.cart-b {
    height: 79vh;
}

.side-des {
    margin-top: 86px;
}

.button-buy {
    margin-top: 50px;
}

.detail-des {
    margin-top: 9.4vh;
    min-height: 100vh
}

.div-pro {
    height: 70vh;

}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

div {
    font-family: 'Kanit', sans-serif !important;
}

Button {
    font-family: 'Kanit', sans-serif !important;

}

.input-custom {
    border-radius: 20px !important;
}

Input {
    font-family: 'Kanit', sans-serif !important;
}

.all-font {
    font-family: 'Kanit', sans-serif !important;
}

h1 {
    font-family: 'Kanit', sans-serif !important;
}

.logo {
    font-size  : 30px;
    font-family: 'Caveat', cursive;
}

h2,
h3,
h4,
h5 {
    font-family: 'Kanit', sans-serif !important;
}



.fade-in-image {
    animation        : fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation   : fadeIn 0.5s;
    -o-animation     : fadeIn 0.5s;
    -ms-animation    : fadeIn 0.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-right {
    text-align: right;
}

.invoice-segment {
    cursor     : pointer;
    margin-top : 20px;
    line-height: 1.8;
    transition : box-shadow .3s;
}

.invoice-segment:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.top-right {
    right: 0;
    left : auto;
}