.header-nav {
    margin-bottom: 85px;
}

.navbar-nav {
    height          : 60px;
    background-color: #304445;
}

.footer-nav {
    margin-bottom: 300px;
}

.Menu-navbar {
    background-color: #2e3131 !important;
}

.input-custom {
    border-radius: 20px !important;
}

.topnav {
    overflow        : hidden;
    background-color: #333;
}

.topnav a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #04AA6D;
    color           : white;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity   : 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity   : 0;
    transition: opacity 150ms linear;
}